<h4> Select Season </h4>
  <%= form_tag("/api_call", method: "get") do  %>
   <%= select_tag :season, options_for_select(@seasons), class: "dropdown", id: "season" %>
<h4> Select Week </h4>
    <%= select_tag :week, options_for_select(@weeks), class: "dropdown", id: "week" %> <br>
<% end %>
