<div id="season_head">
<h4> Select Season </h4>
</div>
<div id="sel_season">
  <%= form_tag("/api_call", method: "get") do  %>
   <%= select_tag :season, options_for_select(@seasons), class: "dropdown", id: "season" %>
</div>
<div id="week_head">
<h4> Select Week </h4>
</div>
<div id="sel_week">
    <%= select_tag :week, options_for_select(@weeks), class: "dropdown", id: "week" %>
<% end %>
</div>
